.jq-pages {
  color: #666;
  font-size: 12px;
  .page-tips,.page-num {
    display: inline-block;
    line-height: 24px;
  }
  .activePage {
    color: #ff6633;
  }
  a {
    //float: left;
    text-decoration: none;
    padding: 5px;
    color: #999;
    background: #f9f9f9;
    border: 1px solid #d8d8d8;
    cursor: pointer;
    margin: 2px;
    &.on {
      color: #fff;
      background: #d8d8d8;
    }
  }
}

.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}