<div class="jq-pages" id={{id}}>
    {{#if showTip}}
    {{#if leftTip}}
    <div class="page-tips">
        <span class="activePage">{{currentPage}}</span>
        <span>/{{pageNum}},共{{total}}条</span>
    </div>
    {{/if}}
    {{/if}}
    <div class="page-num">
        {{#if urlLink}}
            {{#urls showPages links}}
                <a href="javascript:void(0)" class="on">{{val}}</a>
            {{else}}
                <a href={{url}} data-type={{type}}>{{val}}</a>
            {{/urls}}
        {{else}}
            {{#noUrl showPages}}
                <a href="javascript:void(0)" class="on">{{val}}</a>
            {{else}}
                <a href="javascript:void(0)" data-type={{type}}>{{val}}</a>
            {{/noUrl}}
        {{/if}}
    </div>
    {{#if showTip}}
    {{#unless leftTip}}
    <div class="page-tips">
        <span class="activePage">{{currentPage}}</span>
        <span>/{{pageNum}},共{{total}}条</span>
    </div>
    {{/unless}}
    {{/if}}
</div>