<div class="jq-pages">
    {{#if showTip}}
    {{#if leftTip}}
    <div class="page-tips">
        <span class="activePage">{{currentPage}}</span>
        <span>/{{pageNum}},共{{total}}页</span>
    </div>
    {{/if}}
    {{/if}}
    <div class="clearfix">
        {{#each showPages}}
        {{#if cur}}
        <a href="javascript:void(0)" class="on">{{val}}</a>
        {{else}}
        <a href="javascript:void(0)" data-type={{type}}>{{val}}</a>
        {{/if}}
        {{/each}}
    </div>
    {{#if showTip}}
    {{#unless leftTip}}
    <div class="page-tips">
        <span class="activePage">{{currentPage}}</span>
        <span>/{{pageNum}},共{{total}}条</span>
    </div>
    {{/unless}}
    {{/if}}
</div>